/* Common css styles for all blocks inside app dir. */
/* ----------Colors---------------- */

/* navigaton links hover color */
$link-hover-color: #8000ff;

/* navigation icons hover color */
$icons-hover-color: #bf80ff;

$main-background: rgb(48, 48, 48);
$topbar-background:  #424242;
$drawer-background: rgb(59, 59, 59);
$dark-45: rgb(45, 45, 45);
/*colors for text*/
$text-error: #ff3333;
$text-success: #88cc00;
$text-info: #4d4dff;
